@{
    ViewData["Title"] = "Про компанію";
}

<div class="conteiner p-6" style="padding-bottom:100px;">

        <h1 class="text-primary">Про компанію "Spend Control"</h1>
        <br/>
        <p>Історія компанії «Spend Control» почалася в червні 2022 року, коли студент Максим Плюта 
        вирішив зробити Курсову роботу. Йому було 19 років. З вибором ринкової ніші допоміг визначитися варіант його роботи. 
        Так у молодого підприємця з'явилася ідея запропонувати українцям нову послугу – швидку і зручну роботу зі складами.
        Стартовий капітал компанії «Spend Control» становив яблуко, жуйку і кабачок, а команда на початку включала в себе 1 особу(курсова індивідуальна). 
        Максим Плюта став основним засновником бізнесу.
        Так почалася історія компанії, яка не сформувала в Україні нічого.
        </p>
        <br />
        <img class="rounded mx-auto d-block" style="width: 700px;" src="~/assets/businessman.webp"/>
        <p class="fa-photo text-center">Фото бізнесмена для солідності</p>
        <br /><br />
        <h5>На старті (2022)</h5>
        
        <p>
        На початку 2020-х в Україні не існувало ринку сайтів роботи зі складами. Передача посилки без будь-яких гарантій через незнайомих людей передбачала 
        багато ризиків. Тоді Максим поставили мету - прищепити українцям культуру безпечного 
        і легкого керування відправками. Спочатку доводилося пояснювати потенційним клієнтам, що «Spend Control» - 
        це зручний і потрібний сервіс. Згадуючи про цей етап сьогодні, творці компанії порівнюють його з 
        прокладанням лижні на засипаній снігом дорозі.</p>

        <p \>
        Перші дні роботи компанії пройшли під знаком пошуку клієнтів і шляхів розвитку.  
        Навчання в бізнес-школі називають відправною точкою для системного й усвідомленого 
        підходу до управління бізнесом.</p>
    
</div>