@{
    ViewData["Title"] = "Головна";
}

<div class="container p-6" style="padding-bottom: 100px">
    <div class="row p-6" >
        <div class="col-6">
            <h1 class="fa-3x">SpendControl</h1>
            <p class="fa-2x"> &mdash; це один з найзручніших способів організації роботи на складі<p/>
        </div>
        <div class="col-6">
            <img  src="~/assets/warehouse1.webp" style="width:555px"/>
        </div>
    </div>
    <div class="row p-6">
        <div class="col-6">
            <img  src="~/assets/warehouse2.webp" style="width:555px"/>
        </div>
        <div class="col-6">
            <h1 class="fa-3x">Створюте</h1>
            <p class="fa-2x"> &mdash; створюйте склади та додавайте матеріали, що там зберігатимуться<p/>
        </div>
    </div>
    <div class="row p-6">
        <div class="col-6">
            <h1 class="fa-3x">Транспортуйте</h1>
            <p class="fa-2x"> &mdash; транспортуйте сировину з одного складу в інший<p/>
        </div>
        <div class="col-6">
            <img  src="~/assets/warehouse3.webp" style="width:555px"/>
        </div>
        
    </div>
    <div class="row p-6">
        <div class="col-6">
            <img  src="~/assets/warehouse4.webp" style="width:555px"/>
        </div>
        <div class="col-6">
            <h1 class="fa-3x">Організуйте</h1>
            <p class="fa-2x"> &mdash; організуйте роботу у своєму підприємстві так, як вам зручно<p/>
        </div>
    </div>
</div>
