@{
    ViewData["Title"] = "Партнерство";
}

<div class="conteiner" style="padding-bottom:100px">
    <h1 class="text-primary">Партнерство</h1>
    <br />
    <h5>«Spend Control» запрошує партнерів розвивати бізнес разом</h5>
    <br />
    <p>«Spend Control» запрошує до співпраці тих, хто бажає розвивати власний бізнес та партнерську мережу компанії. 
    Ви можете створити акаунт «Spend Control» та оптимізувати свою роботу. 
    Зі свого боку ми гарантуємо Вам підтримку, навчання та вигідні умови співпраці. 
    Будемо раді бачити Вас серед лідерів партнерської мережі «Spend Contol», яка налічує більше 0 клієнтів.</p>
    <br />
    <div class="row">
        <div class="col-6">
            @*<h5>Створення стандартного</h5>*@
            <h6>У якості партнера «Spend Control» Ви отримаєте:</h6>
            <ul>
                <li>Запуск бізнесу «під ключ» від 2 тижнів</li>
                <li>Окупність інвестицій вже через 8 місяців</li>
                <li>Безкоштовне навчання та оперативну підтримку роботи представництва</li>
                <li>Сучасне програмне забезпечення та технічну підтримку</li>
                <li>Прозорі тарифи та гнучкі умови співпраці</li>
            </ul>
        </div>
        <div class="col-6">
            <h6>Для співпраці зі «Spend Control» Вам потрібні:</h6>
            <ul>

                <li>Приміщення для відділення (власне чи орендоване від 10 кв. м.)
                <li>Оргтехніка та доступ до мережі інтернет
                <li>Вантажний автомобіль (власний чи орендований)
                <li>Дозвіл на здійснення підприємницької діяльностi
                <li>Стартовий капітал
                <li>Персонал
            </ul>
        </div>
    </div>
    <h6>Станьте частиною команди лідерів – розвивайте бізнес разом зі «Spend Control»!</h6>
</div>
<br /><br /><br /><br /><br /><br />